/*global*/
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: arial;
}
p{
    line-height: 1.5;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: 20px auto;


}
/*header*/
.secondary-header{
    background-color: orange;
    height: 200px;

}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    color: black;
    margin-right: 20px;
}
/*main*/
.main-text{
    text-align: center;
}
/*form*/
.my-form{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
}
.my-form fieldset{
    border-radius: 10px;
    padding: 20px;
}
.my-form div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.my-form label{
    width: 20%;
    margin-left: 70px;
}
.my-form input,
.my-form textarea{
    width: 80%;
    padding: 20px;
}
/*footer*/
.footer-container{
    background-color: lightgrey;
    height: 200px;
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.my-flex{
    display: flex;
}
.footer-text p:last-of-type{
    font-weight: bold;
    border-left: 3px solid black;
    padding-left: 20 px;
    margin-left: 20px;
    text-decoration: underline;
}
.footer-icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    margin-right: 10px;
}
.circle-button{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background-color: white;
    border-color: black;
    
}
.phone-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}